.itwx-player, itwx_player, .itwx_player dl.spip_documents {display:none !important}
.twx-player {display:block !important}
dl.spip_documents object { width: 400px; height:300px; text-align: center; padding:0; margin:0; }
