/* -------------------------------------------------------------- */
/* Feuille de style des squelettes par defaut pour iTwX Spip 2.0  */
/* -------------------------------------------------------------- */


/* ------------------------------------------
/* Typographie generale (style transversaux)
/* ------------------------------------------ */
html { font-size: 100%; } 
body { font-size: 0.8125em; font-family: Helvetica; color: #000; margin: 0; padding: 0; text-align: center;}

/* Titraille / Intertitres */
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: normal; font-size: 1em; font-family: inherit; color: #000; }
h1 { font-size: 25px; }
h2 { font-size: 1em; font-weight: normal; color: #000; }
h2 a, h2 a:focus, h2 a[selected], h2 a:hover, h2 a:active { color: #000; }
h3 { border-style:none; border-width:medium; font-family: inherit; font-size: 20px; font-weight: bold; padding-top:0.1em}
h4 { font-size: 18px; color: #000; padding: 0 6px }
h5 { font-size: 1em; font-weight: bold; color: #FFF; }
h6 { font-size: 1.4em; color: #FFF; font-weight: bold; padding-top: 5px;}

/* Autres enrichissements typo */
strong { font-weight: bold; }
em { font-style: italic; }
acronym { border-bottom: 1px dotted; cursor: help; }
small { font-size: 0.90em; color: #666; }
dfn { font-weight: bold; color: #666; }
del { text-decoration: line-through; }
ins { color: red !important; text-decoration: none; }
sup, sub { font-size: .8em; font-variant: normal; }

/* Logos, documents et images */
img { margin: 0; padding: 0; border: 0; }

/* Espaceur de blocs */
.nettoyeur { clear: both; height: 0; margin: 0; padding: 0; border: 0; line-height: 1px; font-size: 1px }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }

* { margin:0; padding:0; }



/* ------------------------------------------
/* Landscape mode (default)
/* ------------------------------------------ */

/* Position et habillage des blocs
-------------------------------------- */
body { background: #FFF url('../images/themes/img_bleu/pinstripes.png') }
#tab { margin:0 auto; width:100%; position:relative; overflow:hidden; text-align:left; }

#hierarchie { float:left; width:100%; padding: 0 1em; color:#777}
#hierarchie a, #hierarchie .on { color:#777}

#main { width:100%; position:relative; }
#conteneur { float:left; width:100%; position:relative; left:73% }

.contenu  { float:left; width:72%; position:relative; right:73%; padding:1em; margin: 0; font-size:105%;}
.table { float:left; padding:0 0 2em 0; } 

.contenu .extra { float:right; margin: 0.5em 1em 0 0; width:300px }

.itwxchapo { text-align:left; margin: 0 0.5em 1em 0.5em; line-height: 18px; font-size:16px; color:#666;font-weight: bold; }
.ltr .itwxchapo img.spip_logos { float:left; margin: 0 0.5em 0.5em 0 }
.rtl .itwxchapo img.spip_logos { float:left; margin: 0 0 0.5em 0.5em }
.itwxchapo a { color:#666; text-decoration: underline; }
.ltr .itwxchapo span, .rtl .itwxchapo span { float:left; margin:0 0 0.5em 0 }

#navigation { float:right; width:21%; position:relative; right:75%; margin-top:0.5em; padding: 0; }
#navigation-a, #navigation-b, #navigation-br, #navigation-c, #navigation-cs, #navigation-cs, #navigation-d, #navigation-dr { clear:left; float:left; width:100%; }

#pied { clear:both; float:left; width:100%; text-align:center; color:#333; margin:0; font-size:15px}
#pied a { color:#333; font-size:12px }
#pied img { vertical-align:middle}
#pied a.top { background: url('../images/themes/img_bleu/top.png') no-repeat right center;}
#pied a.top img {height:25px}


/* Habillage des navigations
-------------------------------------- */
/* Barre navigation */
#tool { 
	width: 100%; 
	height: 42px; 
	background: url('../images/themes/img_bleu/toolbar.png') repeat-x; 
	border-bottom: 1px solid #5F7594;
	font-weight: bold; }
#tool span#title { 
	text-align:left;
	margin-left: 8px;
	line-height:2.1em;
	font-size:20px;
	color:#fff;
	white-space: nowrap;
	font-weight:bold;
	background-color:none }
#tool a { 
	color: #FFF;
    text-align: center;
	font-size: 12px;
    text-decoration: none; }
#tool #back { 
	float: left; 
	overflow: hidden;
	width: 53px;
	height: 23px; }
.ltr #tool #back { 
	margin: 6px 0 0 6px;
	padding: 7px 7px 0 12px;
	background: url('../images/themes/img_bleu/backButton.png') no-repeat; }
.rtl #tool #back { 
	margin: 6px 6px 0 0;
	padding: 7px 12px 0 7px;
	background: url('../images/themes/img_bleu/backButton_rtl.png') no-repeat; }
#tool #home {
	float: right;
    overflow: hidden;
	width: 34px;
    height: 30px;
	margin: 6px 6px 0 6px;
    background: url('../images/themes/img_bleu/homeButton.png') no-repeat; }
#tool #home a {	padding: 0 2px; }
#tool #home img { vertical-align:middle}

#tool #back, #tool #home { background-color:#617898; }
 
#tool #back:hover, #tool #back[selected], #tool #back:hover, #tool #back:active, #tool #home:focus, 
#tool #home:hover, #tool #home[selected], #tool #home:hover, #tool #home:active, #tool #back:focus{ background-color: #2C415F !important;}



/* Barre recherche */
#rech {
	background-color:#667D9D;
	text-align:right;
	margin-bottom:0.5em;
	padding: 2px 5px 3px 5px;
	-webkit-border-radius: 0 0 8px 8px; 
	-moz-border-radius: 0 0 8px 8px; 
	border-radius: 0 0 8px 8px; 
	font-weight:bold;
 }
#rech a { color:#E6E6E6; text-decoration:none; display:block }


/* Habillage des listes
-------------------------------------- */

/* Titres de listes */
.group, .grouplist, .ssgrouplist {
	padding: 2px 0 3px 0; 
	text-align:	center;
	line-height:1.2em;
	font-weight: bold;
	color: #FFF;
    text-decoration: none; 
	border-top: 1px solid #C0C0C0 }
.group, .group0 { background: #6e85a2 url('../images/themes/img_bleu/Group.png') repeat-x; }
.grouplist { background: #768ca7 url('../images/themes/img_bleu/listGroup.png') repeat-x; }
.ssgrouplist { background: #9eadc1 url('../images/themes/img_bleu/listssGroup.png') repeat-x; }
.group a, .group0 a, .grouplist a, .ssgrouplist a {color:#FFF}

#navigation #navigation-a .group,
#navigation #navigation-b .group,
#navigation #navigation-cs .group,
#navigation #navigation-d .group,
#navigation #navigation-dr .group {
	height:auto;
	padding:1px 4px 3px 4px; 
	-webkit-border-top-right-radius: 14px 16px;
	-webkit-border-top-left-radius: 14px 16px;
	-moz-border-radius-topright: 14px 16px;
	-moz-border-radius-topleft: 14px 16px;
	border-top-right-radius: 14px 16px;
	border-top-left-radius: 14px 16px;
	border-right: 1px solid #C0C0C0; 
	border-left: 1px solid #C0C0C0;
	font-size: 1em }
#navigation #navigation-br .group, #navigation #navigation-c .group, #navigation #navigation-cr .group, #navigation #navigation-dr .group, #navigation #navigation-e .group,
.contenu  .group, .contenu  .grouplist, .contenu  .ssgrouplist, .contenu  .group0 { 
	width:100%;
	height:auto;
	border: 1px solid #C0C0C0;
	-webkit-border-radius: 14px; 
	-moz-border-radius: 14px; 
	border-radius: 14px; 
	font-size: 0.90em; 
	padding:1px 0 3px 0 }
.contenu  .group0 { padding:0; }
.contenu  .grouplist, .contenu  .ssgrouplist { border: 1px solid #C0C0C0; margin:0 }
	

/* Listes d'articles en sommaire et extraits introductifs */
.hentry { margin: 0; padding: 0;}
.hentry, .hentry:visited, .hentry .entry-title h3 a, .hentry:visited .entry-title h3 a { cursor:pointer ; margin: 0; padding: 0; color: #000; font-size:19px; font-weight:bold;}

.menu { clear: both; margin: 0 0.5em; text-align: left; padding: 0;}
.menu p { margin: 0; padding: 0; }
.menu ul { margin: 0; padding: 0; list-style: none;}
.menu ul li { margin: 0; padding: 0; }

.nettoyeur-cadre { display:block; height:1px; width:100% }
.articles ul { margin: 0.5em 0 0 0; padding: 0; list-style: none }
.articles ul a { text-decoration: none }
.articles ul li { clear: both; margin: 0.75em 0; border: 1px solid #C0C0C0; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; font-size: 18px }
.ltr .articles ul li { padding: 10px 25px 12px 14px; background: #fff url('../images/themes/listArrow.gif') no-repeat right center; }
.rtl .articles ul li {padding:12px 14px 12px 25px; background: #fff url('../images/themes/listArrow_rtl.gif') no-repeat right center; }
.articles ul li a { color: #000; text-decoration: none;margin: 0; padding: 0 }
.articles ul li .introduction { font-size:0.9em; color:#666; font-weight: bold; margin: 0; padding: 0; margin-top:0.5em }
.articles ul li .enclosures { float: right; text-align: right; max-width: 60%; margin: 0; padding: 0 }
.articles a img.spip_logos { float: right; clear: right; padding: 0; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }
.ltr .articles a img.spip_logos { margin: 5px 0 5px 5px }
.rtl .articles a img.spip_logos { margin: 5px 5px 5px 0 }


/* Listes des evenements */
.agenda span.published, .agenda span.published small {font-size:14px; padding:0; color:#999}
.agenda .hentry_published { background-color: white ;cursor:pointer ; color:#000 }

.agenda { margin-bottom: 1em }
.agenda ul { background-color: #fff; border: 1px solid #C0C0C0; border-bottom: 0; list-style: none }
.agenda a { color: #000; text-decoration: none; padding:0 0.2em; font-size:1.2em }
.agenda ul li { clear: both; border-bottom: 1px solid #C0C0C0 }
.ltr .agenda ul li { padding: 6px 20px 6px 6px; background: url('../images/themes/listArrow.gif') no-repeat right center }
.rtl .agenda ul li { padding: 6px 6px 6px 20px; background: url('../images/themes/listArrow_rtl.gif') no-repeat right center }

.noevent {padding: 1em}	
 

/* Listes
------------------------- */
.display-landscape { display:block }
.display-portrait, #navigation .bord { display:none }

/* Listes de titres */
.listmenu, .listinc { margin: 0; padding: 0 }
.listmenu ul { font-weight:bold }
.listdoc ul { margin: 0; padding: 0 }
.listmenu ul, .listinc ul, .listincinc ul, .listdoc ul { background-color: #fff; margin: 0 0 1.5em 0; padding:0; border:1px solid #C0C0C0; border-top:0; list-style: none; }
.listdoc ul { margin: 0 1em; -webkit-border-radius:0 0 10px 10px; -moz-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px; }
.listmenu ul li a, .listinc ul li a, .listincinc ul li a, .listdoc ul li a { display: block; margin:0; border-top: 1px solid #C0C0C0; text-decoration: none; color: #000; font-size: 17px }
	
#navigation .listmenu, #navigation .listinc { background-color: #fff; margin: 0 0 1.5em 0; padding:0; border:1px solid #C0C0C0; border-top:0; list-style: none; -webkit-border-radius:0 0 11px 11px; -moz-border-radius:0 0 11px 11px; border-radius:0 0 11px 11px; }
#navigation .listmenu ul, #navigation .listinc ul { background: none; margin: 0; padding:0; border:0 }

.ltr .listmenu ul li a, .ltr .listinc ul li a, .ltr .listincinc ul li a, .ltr .listdoc ul li a { background: url('../images/themes/listArrow.gif') no-repeat right center }
.rtl .listmenu ul li a, .rtl .listinc ul li a, .rtl .listincinc ul li a, .rtl .listdoc ul li a { background: url('../images/themes/listArrow_rtl.gif') no-repeat right center }
.ltr .listmenu ul li a, .ltr .listinc ul li a, .ltr .listincinc ul li a { padding: 0.6em 25px 0.6em 0.8em }
.rtl .listmenu ul li a, .rtl .listinc ul li a, .rtl .listincinc ul li a { padding: 0.6em 0.8em 0.6em 25px }
.ltr .listdoc ul li a { padding: 8px 25px 8px 8px }
.rtl .listdoc ul li a { padding: 8px 8px 8px 25px }


/* Ajustement des listes */
.contenu  .doc { margin: 0 0.75em 1em 0.75em; border-left:1px solid #C0C0C0; border-right:1px solid #C0C0C0 }
.contenu  .docs { margin: 0 0.75em; border-left:1px solid #C0C0C0; border-right:1px solid #C0C0C0 }

/*  Boutons rubriques  */
.bouton_rub { clear: both; margin: 0.6em 0 1em 0; text-align: center; padding: 0 }
.bouton_rub ul { margin: 0 0.2em; padding: 0; list-style: none }
.bouton_rub ul ul{ margin: 0 0.75em }
.bouton_rub ul li { padding: 0 0 7px 0 }
.bouton_rub ul li ul li { padding: 5px 0 0 0 }
.bouton_rub ul li a { 
	display: block; 
	width: auto;
	height: auto;
	padding:  9px 0;
	background: url('../images/themes/boutonwhite_bg.png') repeat-x;
	background-color: #ACACAC;
	border-top: 3px solid #585858; 
	border-left: 3px solid #797979;
	border-right: 3px solid #797979;
	border-bottom: 3px solid #888888;
	-webkit-border-radius: 11px; 
	-moz-border-radius: 11px; 
	border-radius: 11px; 
	font-size: 15px;
	color:#333; 
	font-weight: bold;
	text-decoration: none;
	line-height:1.2em }
.bouton_rub ul li a:hover, .bouton_rub ul li a[selected], .bouton_rub ul li a:active, .bouton_rub ul li a:focus { 
	display: block; 
	width: auto;
	border-bottom: 3px solid #585858; 
	border-left: 3px solid #797979;
	border-right: 3px solid #797979;
	border-top: 3px solid #888888;
	background-color: #909090 !important; 
	color:#000 !important;
	text-decoration: none; }
.bouton_rub ul li a.on, .bouton_rub ul li ul li a.on, .bouton_rub ul li ul li ul li a.on { 
	background: url('../images/themes/boutongray_bg.png') repeat-x; background-color: #353535; color:#fff }
.bouton_rub ul li a:hover.on, .bouton_rub ul li a[selected].on, .bouton_rub ul li a:active.on, .bouton_rub ul li a:focus.on { 
	border-top: 3px solid #585858; 
	border-left: 3px solid #797979;
	border-right: 3px solid #797979;
	border-bottom: 3px solid #888888;
	background-color: #282828 !important; 
	color:#fff !important; }


/* Pied */
#pied .ticket { margin: 0.5em 0; text-align:center}
#pied .ticketmenu { margin: 0; padding: 0; }

#pied .ticketmenu a { 
	margin: 0.2em;
	border: 1px solid #C0C0C0;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px; 
    text-decoration: none;
    color: #000; 
	font-size: 16px;
	font-weight:normal;
	white-space: nowrap;
	line-height:3em;
	list-style: none }
.ltr #pied .ticketmenu a { padding: 10px 25px 10px 12px; background: #fff url('../images/themes/listArrow.gif') no-repeat right center }
.rtl #pied .ticketmenu a { padding: 10px 12px 10px 25px; background: #fff url('../images/themes/listArrow_rtl.gif') no-repeat right center }

#pied #tablogout{
	width:10%;
	background-color: #fff;
	margin: -1.5em 0 1.2em 0;
	padding: 10px 12px;
	border: 1px solid #C0C0C0;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px; 
    text-decoration: none;
    color: #000; 
	font-size: 16px;
	font-weight:normal;
	white-space: nowrap;
	line-height:3em;
	list-style: none }

.corner { -webkit-border-radius: 0 0 12px 12px; -moz-border-radius: 0 0 12px 12px; border-radius: 0 0 12px 12px; }


/* Pagination */
.pagination {
	background: url('../images/themes/img_bleu/Pagin.png');
	line-height: 1.3em ;
	font-size: 17px;
	text-align:	center;
	font-weight: bold;
	color: #7187A4;
	padding:0 }
.pagination a { color:#FFF; padding-bottom:2px; text-decoration: none }
.pagination a:hover, .pagination a:focus, .pagination a[selected], .pagination a:active, .pagination .on {color:#7187A4 }
.listincinc .pagination { background: url('../images/themes/img_bleu/ssPagin.png'); color: #8B9DB6; line-height: 1.2em;}
.listincinc .pagination a:hover, .listincinc .pagination a:focus, .listincinc .pagination a[selected], .listincinc .pagination a:active, .listincinc .pagination .on { color: #7187A4 }

.pagin-forum { margin: 0 0.5em 1em 0.5em; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }

.contenu .pagination { border: 1px solid #bfbfbf; -webkit-border-radius: 14px; -moz-border-radius: 14px; border-radius: 14px; font-size:15px }
.contenu .articles .pagination { margin: 1em 0 }
#navigation .pagination { 
	background: #9EADC1 url('../images/themes/img_bleu/listssGroup.png') repeat-x;
	margin: 0;
	padding: 4px;
	border-top: 1px solid #bfbfbf;
	-webkit-border-radius:0 0 11px 11px;
	-moz-border-radius: 0 0 11px 11px;
	border-radius: 0 0 11px 11px;
	font-size:15px;
	color:#fff
	line-height: 1.3em }
#navigation .pagination a, #navigation .pagination a:visited { color:#7187A4 }
#navigation .pagination a:hover, #navigation .pagination a[selected] #navigation .pagination a:focus, #navigation .pagination a:active, #navigation .pagination .on { color:#fff }

	

/* Habillage des elements du contenu
------------------------------------------ */
/* Texte */
.surlignable { margin-bottom:0.5em }
.cartouche { margin-bottom: 1em; padding: 0 }
.ltr .cartouche .spip_logos { float: right; margin: 0 0 7px 7px;}
.rtl .cartouche .spip_logos { float: right; margin: 0 7px 7px 0;}
.cartouche p { margin: 0; padding: 0; clear: left; }
.surtitre, .soustitre { font-size: 0.90em; color: #666; text-transform: uppercase; letter-spacing: 0.10em; }
.cartouche .surtitre { margin-bottom: 0.30em; }
.cartouche .soustitre { margin-top: 0.50em; margin-bottom: 0.30em }
.cartouche .traductions { font-size: 0.90em; line-height:2.2em; color:#888; }
.traductions span, .traductions span a.on { background:#4A6C9B; font-weight:normal; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; border: 2px outset #fff; padding: 2px 4px 3px 4px; color:#CCC }
.traductions span a { color:#FFF; font-weight: bold; }

.chapo { margin-top: 0.5em; line-height: 1.20em; font-size: 1.2em; font-weight: bold; color: #333; }
.texte { margin: 0; line-height: 1.15em; font-size: 1.3em; text-align: justify; }
.texte a {color: #4A6C9B;}

.texte .hyperlien a, .hyperlien a, .lien a, .lien-evt a { 
	display: block;
	margin: 10px;
 	border: 1px solid #C0C0C0;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px; 
	font-size: 13px;
	font-weight:bold;
	color: #336699;
	list-style: none }
.ltr .texte .hyperlien a, .ltr .hyperlien a, .ltr .lien-evt a { background: #fff url('../images/themes/listArrow.gif') no-repeat right center; padding: 7px 32px 7px 7px; text-decoration:none }
.rtl .texte .hyperlien a, .rtl .hyperlien a, .rtl .lien-evt a { background: #fff url('../images/themes/listArrow_rtl.gif') no-repeat right center; padding: 7px 7px 7px 32px; text-decoration:none }
.lien-evt a { font-size: 18px; color: #000; font-weight:normal; margin-top:0.5em }
	
.ps, .notes { margin:1em; line-height: 1.40em; font-size: 1.2em; text-align: justify }
.notes { clear: both; font-size: 0.95em; padding: 1em 0.5em 0 0.5em }
.note ul.spip { margin: 1em }
.notes a {color:#4A6C9B}
.texte a.spip_note {font-weight:normal; color:#4A6C9B}

/* Portfolio */
#documents_portfolio { clear: both; margin: 0; padding:0.5em; text-align: center }
#documents_portfolio .spip_logos { margin: 3px; border: 4px solid #fff }

.img_portfolio, .img_portfolio img { width: 100%; height: auto; margin-bottom: 0.5em }

.pf { margin:0.5em }
.pf img { width: 100%; height: auto }

/* Petitions */
#signatures { clear: both; margin: 0 0 1em 0; padding: 0; background: none; }
#signatures table { width: 100%; margin: 1em 0 0 0; }
#signatures table caption { font-size: 17px; text-align: center;	font-weight: bold; color: #FFF; }
#signatures thead { text-align: center; color: #555; }
#signatures td { padding: 0.50em; border: 2px solid #FEFEFE; vertical-align: top; }
#signatures td.signature-date { background: #E1E8F0; text-align: center; white-space: nowrap; }
#signatures td.signature-nom { background: #EBEFF5; text-align: center; }
#signatures td.signature-nom a { color:#999 }
#signatures td.signature-nom small { display: block; }
#signatures td.signature-message { background: #f1f4f8; }
#signatures .formulaire_recherche { margin: 1em 0; text-align: right; } 
#signatures .formulaire_recherche input.text { width: 10em; text-align: left; }


abbr.published  { border: 0; color:#888; }
abbr.published span, abbr.published small, .cartouche .day, .cartouche .month { color:#888; }
span.published {font-size:14px; padding-left:0.5em }
h.published a {font-size:1.2em;padding-left:0.5em; color:#000 }
.hentry_published { background-color: white; cursor: pointer; color:#000; font-size:1.2em }

.vcard { margin-bottom:1em }
.vcard .hyperlien { margin-top:1em }
.fn{ margin-bottom:0.5em }



/* Habillage des forums
-------------------------------------- */
.repondre a, .rep-mess a { 
    display: block;
    background: url('../images/themes/repondre-ouvrir.png') no-repeat right center;
    padding: 8px;
	background-color: #fff;
    border: 1px solid #C0C0C0;
	text-decoration: none;
    color: #000;
	font-weight:bold;
	list-style: none }
.repondre a { margin:0 0.5em; font-size: 17px; -webkit-border-radius:0 0 10px 10px; -mz-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px;}
.rep-mess a { margin-bottom:0.3em; font-size: 14px }
.repondre a:hover, .rep-mess a:hover { text-decoration: none } 
	
/* Ajax formulaire forum */
.repondre .clicCacher a, .rep-mess .clicCacher a { display:compact; background: url('../images/themes/repondre-fermer.png') no-repeat right center; border:0; color:transparent }
.repondre .clicCacher, .rep-mess .clicCacher a { margin-top: -38px }


/* Habillage des forums */
#total-forums { padding: 1em 1.5em 0 1.5em; font-weight:bold }
ul.forum { display: block; clear: both; padding: 0 0.5em 1em 0.5em }
ul.forum, ul.forum ul { list-style: none }
.forum-fil { margin-top: 1em; background: #728BAD; padding:5px 5px 1px 5px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
.forum-fil ul { display: block; margin: 0; padding: 0 }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; color: #333 }
.forum-texte { margin: 0; padding: 0.50em 1em; color: #333; background: #FFF url('../images/themes/img_bleu/pinstripes_forum.png') }
.forum-texte .repondre { margin: 0; padding: 0.10em 0; text-align: right }
.forum-message { margin: 0 0 5px 0; padding: 0 }

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */
ul .forum-chapo { margin:0; background: #91a5c0; padding: 3px 6px 2px 6px; font-size: 1em; }
ul ul .forum-chapo { background: #a2b5ce; }
ul ul ul .forum-chapo { background: #b7c7dc; }
ul ul ul ul .forum-chapo { background: #c5d3e6; }
ul ul ul ul ul .forum-chapo { background: #d5e0f0; }
ul ul ul ul ul ul .forum-chapo { background: #e5ebf4; }
ul ul ul ul ul ul ul .forum-chapo { background: #f1f4f8; }


/* Couleurs des liens */
a { color: #336699; text-decoration: none; }
a:focus, a:active, a[selected], a:hover  { text-decoration: underline; }

/* Ajustement */
.twx_scroll { margin: 1em 0 }



/* ------------------------------------------
/* Portrait mode
/* ------------------------------------------ */

@media only screen and (orientation:portrait){

	#conteneur { left:0 }
	.contenu  { float:left; width:100%; position:relative; right:0; padding:0 }
	.contenu img.spip_logos { vertical-align: middle; line-height: 0; }
	
	.ltr .itwxchapo img.spip_logos, .rtl .itwxchapo img.spip_logos  { float:left; margin: 0.5em 0.5em 0 0.5em }
	.ltr .itwxchapo span, .rtl .itwxchapo span { float:left; margin: 0.5em }
	
	.contenu  .group, .contenu  .grouplist, .contenu  .ssgrouplist { margin:0 }
	.contenu  .group, .contenu  .grouplist, .contenu  .ssgrouplist { margin:0 }
	.contenu  .group, .contenu  .grouplist, .contenu  .ssgrouplist, .contenu  .group0 { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
	.contenu  .doc { margin: 0 0.5em 1em 0.5em; }
	.contenu  .pageforum { margin: 0; padding:0;  }
	
	#navigation { clear:left; float:left; width:100%; right:0; padding-bottom:0px; margin-top:-1em }
	#navigation .bord { 
	display:block; 
	margin: 1em 0 0 0; 
	background: url('../images/themes/img_bleu/Group.png') repeat-x; 
	border-top: 1px solid #C0C0C0;
	height:16px;
	font-size: 16px;
	padding: 2px 0 3px 0; 
	text-align:	center;
	line-height:1.2em;
	font-weight: bold;
	color: #FFF;
    text-decoration: none }
	#navigation-a { clear:none; width:21%; float:left; position:relative; left:3%; padding-top:20px }
	#navigation-b { clear:none; width:21%; float:left; position:relative; left:6%; padding-top:20px }
	#navigation-c, #navigation-cs { clear:none; width:21%; float:right; position:relative; right:3%; padding-top:20px }
	#navigation-d { clear:none; width:21%; float:right; position:relative; right:6%; padding-top:20px }
	#navigation-e { clear:none; width:42%; float:right; position:relative; right:6%; padding-top:20px }
	.nav-som { padding-top: 1.5em }
	.som { margin-top: 1.5em }
	.display-landscape { display:none }
	.display-portrait { display:block }

	#hierarchie { padding: 0 0.5em 0.5em 0.5em }
	.articles ul li { margin: 0.75em 0.5em }

	.ltr .articles a img.spip_logos { margin: 5px 0 5px 5px }
	.rtl .articles a img.spip_logos { margin: 5px 5px 5px 0 }

	.surlignable { margin: 0.5em }

	.rep-mess .clicCacher a { margin-top: -42px }

}
